@import 'variables';

$offset: 187;

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes colors {
  0% {
    fill: $brand-primary;
  }
  25% {
    fill: $brand-warning;
  }
  50% {
    fill: $brand-success;
  }
  75% {
    fill: $brand-warning;
  }
  100% {
    fill: $brand-primary;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: $offset;
  }
  50% {
    stroke-dashoffset: $offset/4;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: $offset;
    transform: rotate(450deg);
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity $duration $easing;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.slide-bottom-enter-active, .slide-bottom-leave-active {
  transition: transform $duration $easing;
}

.slide-bottom-enter, .slide-bottom-leave-to {
  transform: translateY(100%);
}